.intro{
    width:90%;
    margin:auto;
    margin-bottom: 64px;
}
@media screen and (min-width:768px){
    .intro{
        width:720px;
    }
}
@media screen and (min-width:1024px){
    .intro{
        width:928px;
    }

}
@media screen and (min-width:1280px){
    .intro{
        width:984px;
    }
}