.lead__subtitle{
    margin:0;
    padding:0;
    width:288px;
    margin: auto;
    text-align: center;
    padding-top:16px;
    color: #fff;
    margin-bottom: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
@media screen and (min-width:768px){
    .lead__subtitle{
        width:640px;
        padding-top: 32px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
    }
}