.cover__background{
    position: relative;
    background-image: url(../../../images/trains.jpg);
    background-size:cover;
    min-height: 200px;
    width:100%;
    padding: 0;
    margin-bottom: 64px;
    display:flex;
    flex-direction: column;
    align-content:  center;
    justify-content: center;
}
@media screen and (min-width:768px){
    .cover__background{
        min-height: 480px;
        margin-bottom: 88px;
    }
}
@media screen and (min-width:1024px){
    .cover__background{
        min-height: 640px;
        margin-bottom: 92px;
    }
}
@media screen and (min-width:1280px){
    .cover__background{
        min-height: 740px;
        max-width: 1184px;
        margin:auto;
        margin-bottom: 92px;
    }
}