.lead__caption{
    position: relative;
    margin:0 0 0 16px;
    padding:0;
    color: #fff;
    font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    padding-top: 8px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
@media screen and (min-width:768px){
    .lead__caption{
        margin-left: 24px;
    }
}
@media screen and (min-width:1024px){
    .lead__caption{
        margin:0;
    }
}