.footer{
    width:90%;
    margin: 0 auto 24px auto;
}
@media screen and (min-width: 768px){
    .footer{
        display:flex;
        width:720px;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1024px){
    .footer{
        width:928px;
    }
}
@media screen and (min-width: 1280px){
    .footer{
        width:1184px;
    }
}